$darkBg: #181820
$lightBg: #21212B
$white: #F5F5F5
$gray: #818186
$border: #2C2C38
$melon: rgba(239,146,122,1)
$pink: rgba(239,146,122,1)
$purple: rgba(190,66,218,1)
$radius: 8px
$gradient: linear-gradient(45deg, rgba(190,66,218,1) 0%, rgba(253,127,152,1) 44%, rgba(239,146,122,1) 100%)

.light-background
  background: $lightBg
.border-radius
  border-radius: $radius
.border
  border: 2px solid $border
